
.vimeo-wrapper {
    width: 100%;
    max-width: 100%;
    height: 90vh; /* gør videoen højere */
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vimeo-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#collection-description {
    font-size: 8rem;
    margin: 0;
}

#collection-title {
    display: none;
}

.mobile-collection-text {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 25;
    color: white;
    text-align: left;
}

#video {
    width: 100vw;
    height: 90vh;
    max-width: none;
    max-height: none;
    box-sizing: border-box;
    position: relative;
}



#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.carousel-buttons {
    text-align: center;
}

#carouselImage {
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: auto;
}

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
        font-family: 'Helvetica Neue', sans-serif;
    }

    #videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
        position: relative;
        margin: 0;
    }

    #video {
        width: 90vw;
        max-width: 900px;
        max-height: 80vh;
        box-sizing: border-box;
        position: relative;
    }

    .vimeo-wrapper {
        width: 100%;
        max-width: 100%;
        height: 70vh; /* gør videoen højere */
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vimeo-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    .mobile-collection-text {
        position: fixed;
        bottom: 20px;
        left: 20px;
        right: 20px;
        z-index: 25;
        color: white;
        text-align: left;
    }

    #collection-title {
        display: block;
        font-size: 30px;
        font-weight: 900;
    }

    #collection-description {
        font-size: 14px;
    }

    .close {
        position: fixed;
        top: 20px;
        left: 12px;
        z-index: 30;
        font-size: 18px;
        color: white;
        background: transparent;
        border: none;
    }

    a.close {
        margin-left: 1px;
    }
}




