@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), local('HelveticaNeue'),
    url('https://fonts.cdnfonts.com/s/11518/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), local('HelveticaNeue'),
    url('https://fonts.cdnfonts.com/s/11518/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), local('HelveticaNeue'),
    url('https://fonts.cdnfonts.com/s/11518/HelveticaNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), local('HelveticaNeue'),
    url('https://fonts.cdnfonts.com/s/11518/HelveticaNeueBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Helvetica Neue Bold', sans-serif;
    height: 100vh;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
}

/* nav bar styling start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    position: relative;
    width: 98%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo img {
    width: 180px;
}

.nav-links span {
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.nav-links span:hover {
    text-decoration: underline;
}
/* nav bar styling slut */


/* nav bar elementer styling start */
#content {
    margin-top: 0;
    height: calc(100vh - var(-- navbar - height)); /* Dynamisk plads til navbar */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    z-index: 10;
    text-decoration: none;
}

.close:visited {
    color: white;
    text-decoration: none;
}

#close:hover {
    background-color: black;
}

#description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 600px;
    line-height: 1.6;
    font-size: 18px;
}

#secondary-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    color: grey;
    opacity: 0.8;
}
/* nav bar elementer styling slut */


#portfolio-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr); /* To rækker */
    gap: 40px;
    padding-left: 40px;
    padding-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 80px);
    width: max-content; /* Sørger for at grid'et kun fylder det, det skal */
    align-items: start;
}

#portfolio-grid::-webkit-scrollbar {
    height: 1px;
}

#portfolio-grid::-webkit-scrollbar-thumb {
    background-color: grey;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    scroll-snap-align: start;
    min-width: 250px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 250px;
    margin-bottom: 10px;
}

.portfolio-title {
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    align-self: flex-start;
    margin-left: 35px;
}