body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1a1110;
}
p{
    color: #ff2400;
}

#logo{
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sideImage{
    position: fixed;
    top: 100vh;
    right: 20vh;
}
.switch {
    position: fixed;
    top: 5vh;
    right: 20vh;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #ccff00;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

#videoContainer {
    margin: 80px auto 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.vimeo-embed {
    margin-bottom: 10%;
    display: block;
}
