.terms-container {
    display: flex;
    height: 100vh;
    margin-left: 200px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #f7f7f7;
    align-items: center;
}

.terms-content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding-left: 20px;
    margin-top: 20px;
}
h2 {
    color: #333;
}

p {
    line-height: 1.4;
    color: #555;
    font-size: 0.9em;
    margin-bottom: 5px;
}

section {
    margin-bottom: 10px;
    width: 80%;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}