/* ======================
   GENERAL STYLES
====================== */
body {
    font-family: sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

.description {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.4;
}


/* ======================
   GALLERY PAGE (showPhoto i vault.js)
====================== */

.gallery {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 2vw;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}

.collection {
    text-decoration: none;
    color: black;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 20vw;
}

.collection img {
    width: 30vw;
    height: calc(30vw*5/4);
    display: block;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* ======================
   COLLECTION PAGE (collection.html)
====================== */
#collection-container{
    padding:0;
    margin-left: 200px;
    height: 1vh;
}


.scroll-gallery {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /*firefox*/
  -ms-overflow-style: auto; /*telefon*/
    padding: 0;
    margin: 0;
    line-height: 0;


}

/* Chrome */
.scroll-gallery::-webkit-scrollbar {
   height: 4px;
}


.scroll-gallery img {
   flex-shrink: 0;
    width: 30vw;
    /*height: calc(30vw*16/9); Skal der gøres noget ved */
    object-fit: contain;
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
    border: none;
    display: block;
}

@media (max-width: 768px) {
    .scroll-gallery img{
        width: 70vw;
        height: calc(70vw*16/9);
    }
}